<div class="addition">
<h1>Add numbers</h1>
<input type="number" [(ngModel)]="number1"><br><br>
<input type="number" [(ngModel)]="number2"><br><br>
<button (click)="add()">Add</button><br><br>
<h3>Answer of addition is:{{Answer}} </h3>
</div>

<div class="subtraction">
<h1>Subtract numbers</h1>
<input type="number" [(ngModel)]="number1"><br><br>
<input type="number" [(ngModel)]="number2"><br><br>
<button (click)="sub()">Subtract</button><br><br>
<h3>Answer of subtraction is:{{Answer1}} </h3>
</div>

<div class="multiplication">
<h1>Multiply numbers</h1>
<input type="number" [(ngModel)]="number1"><br><br>
<input type="number" [(ngModel)]="number2"><br><br>
<button (click)="mul()">Multiply</button><br><br>
<h3>Answer of subtraction is:{{Answer2}} </h3>
</div>

<div class="division">
<h1>Divide numbers</h1>
<input type="number" [(ngModel)]="number1"><br><br>
<input type="number" [(ngModel)]="number2"><br><br>
<button (click)="div()">Divide</button><br><br>
<h3>Answer of subtraction is:{{Answer3}} </h3>
</div>